<div ng-controller="madLibsFormController">
  <h1>Mad Libs Inputs</h1>
  <p>Fill in your adjectives, nouns, and verbs to complete the mad libs on the next page.</p>
  <h2>GO NUTS!</h2>
  <form>
    <input ng-model="lastName" type="text" placeholder="A Last Name">
    <input ng-model="verb" type="text" placeholder="A verb">
    <input ng-model="loveInterest" type="text" placeholder="A name you call your lover">
    <input ng-model="bodyPart" type="text" placeholder="Body Part (plural)">
    <input ng-model="femaleName" type="text" placeholder="Female Name">
    <input ng-model="verb2" type="text" placeholder="Another verb">
    <input ng-model="noun" type="text" placeholder="A fruit">
    <input ng-model="plural" type="text" placeholder="Another plural body part">
    <input ng-model="verb3" type="text" placeholder="More verb!">
    <input ng-model="noun2" type="text" placeholder="A second noun">
    <input ng-model="occupation" type="text" placeholder="An occupation">
    <input ng-model="salary" type="number" placeholder="Positive number">
    <input ng-model="verb4" type="text" placeholder="The Last Verb(promise)">
    <input ng-model="firstName" type="text" placeholder="A first name">
    <input ng-model="lastName2" type="text" placeholder="A Last name">
    <button type="button" ng-click="madLibFun()">Create Your Mad Lib!</button>
  </form>
</div>
