<div ng-controller="madLibsViewController">
  <h1>The Love of My Life</h1>
  <p>
  Dearest Mr. and Mrs. {{lastName || "(Your Lover's Last Name)"}},

  Will you let me {{verb || "(a verb)"}} your {{loveInterest}}. Ever since I have laid {{bodyPart}} on {{femaleName}}, I have {{verb2 || "(a verb)" }} madly in love with her. I wish that she will be the {{noun}} of my {{plural}} and that someday we will {{verb3 || "(a verb)" }} happily ever after. I have a {{noun2}} as a/an {{occupation}} that pays {{salary}} each month. I promise to {{verb4 || "(a verb)" }} {{femaleName}} with kindness and respect.

  Sincerely,
  {{firstName}}{{lastName2}}
  </p>
</div>
